.user-profile {
  display: flex;
  justify-content: center;
  padding: 20px;
}

mat-card {
  width: 600px;
  max-width: 600px;
  h1 {
    font-size: 18px;
    text-align: center;
  }
}

.full-width {
  width: 100%;
  margin-bottom: 5px;
}

.btn-container {
  display: flex;
  justify-content: center;
  button {
    margin: 10px;
  }
}
