.user-info {
  display: flex;
  justify-content: center;
  padding: 20px;
}

mat-card {
  width: 600px;
  max-width: 600px;
  h1 {
    font-size: 18px;
    text-align: center;
  }
  p {
    display: flex;
    justify-content: space-between;
    span {
      padding-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
